* {
  margin: 0;
  padding: 0;
}

body{
  height:100vh;
  background:#161513;
  color:white;
  font-family: 'outfit';
}
@keyframes spin3D {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}