* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
}

body{
  width: 100vw;
  background:#161513;
  color:white;
  font-family: 'outfit';
}
@keyframes spin3D {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes portalSpin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}